body {
    background-color: rgb(154, 195, 209);
    align-items: center;
    flex-direction: column; /*para meter uma box por cima da outra*/
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    padding: 75px 50px; /*cima e baixo - 25px -- e -- esquerda e direita - 50px*/
    gap: 40px; /*entre colunas*/
}

.central-box {
    background-color: white;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
}

.button-container {
    display: flex;
    gap: 20px; 
    justify-content: center;
    margin-top: 20px;
}

.button-container form {
    display: inline-block;
}

button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #034081;
}

#titulo {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

li {
    list-style-type: none;
}

.jogadores-lista {
    text-align: center;
    width: fit-content;
    margin-left: 20px; 
    padding-left: 20px;
}
